spring:
  profiles:
    active: dev
  application:
    name: USERS
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
  instance:
    instance-id: ${spring.cloud.client.hostname}:${spring.application.name}:${spring.application.instance_id:${random.value}}
logging:
  level:
    web: error
jwt.secret: 413F4428472B4B6250655368566B5970337336763979244226452948404D6351
