spring:
  datasource:
    url: jdbc:mysql://localhost:3306/users?createDatabaseIfNotExist=true
    username: Soumalya
    password: QsCAzX@#$%24680
  jpa:
    properties:
      hibernate:
        '[format_sql]': true
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 0
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
logging:
  level:
    web: trace